.body {
    width: 90%;
    position: relative;
    height: 10%;
    background: #d0d0d0;
    border-radius: 20px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

.body img {
    width: 100%;
    height: calc(70vh * 0.1);
    object-fit: contain;
    margin: auto;
}

@media (max-width: 600px) {
    .body img {
        margin: 0 auto;
    }
}